
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/_iuchat.cshtml";
}
<div class="container my-2">
    <div class="row">
        <div class="col-sm-8">
            <!--Publicados-->
            <div id="publicaciones" class="container mt-sm-2 p-2">
                
            </div>
            <!--Finall panel publicado-->
        </div>
        <div class="col-sm-4">
            <div class="redonded bg-white">
                <div class="card-body">
                    <h6 class="card-title">Personas que quizás conoces</h6>
                    <hr>
                    <div id="usuarios" class="container-fluid">

                      

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<script src="~/Recursos/script/inicio/main.js"></script>
